<!--<script id="addScreen.html" type="text/ng-template">-->
    <ion-view title="addScreen" ng-controller="AddScreenCtrl">
        <ion-content padding="true" class="has-header">
            <div class="list card">
                <div class="item item-divider">Add {{whatToAdd}}</div>
                <div class="item item-body">
                    <ion-list></ion-list>
                    <form>
                        <label class="item item-input">
                            <span class="input-label">Sum</span>
                            <input type="number" placeholder="Sum" ng-model="sum">
                        </label>
                        <label class="item item-select">
                            <span class="input-label">Type</span>
                            <select></select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Date</span>
                            <input type="date" placeholder="Date">
                        </label>
                    </form>
                    <div class="spacer" style="width: 266px; height: 52px;"></div>
                    <button class="button button-balanced button-block" ng-click="getLocalStorage(sum)">Add</button>
                    <div class="addScreenMsg" ng-show="doneAdding" >Done!</div>
                </div>
            </div>
        </ion-content>
    </ion-view>
<!--</script>-->