<!--<script id="home.html" type="text/ng-template">-->
    <ion-view title="Cash Out">
        <ion-content padding="true" class="has-header" ng-controller="HomeCtrl">
            <div class="list card">
                <div class="item item-body">
                    <a href="#/addScreen/Credit" class="button button-stable button-block">Add Credit</a>
                    <a href="#/addScreen/Cash" class="button button-stable button-block">Add Cash</a>
                    <a href="#/addScreen/Bill" class="button button-stable button-block">Add Bill</a>
                    <ion-list></ion-list>
                    <a href="#/stats" class="button button-stable button-block">See Stats</a>
                </div>
            </div>
        </ion-content>
    </ion-view>
<!--</script>-->